html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(233deg,rgba(0, 170, 255, 1) 0%, rgba(143, 164, 207, 1) 50%, rgba(214, 255, 235, 1) 100%);
    margin: 0;
}

h1{
    font-family: "Anta", sans-serif;
    font-size: 70px;
    margin: 0;

}

.header{
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.cell {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Caprasimo", serif;
    font-size: 100px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.score {
    font-family: "Anta", sans-serif;
    font-size: larger;
}

.resetBtn {
    width: 150px;
    padding: 5px 15px;
    font-family: "Anta", sans-serif;
    font-size: medium;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: white;
}